@{
    Layout = "_AdminLayout";
}
<div class="card">
    <div class="card-body">
        <h2>Cardlink Payment Configuration</h2>
        <p>Update your Merchant ID, Secret, and URL here.</p>
    </div>
</div>
